.album-card {
	width: 100%;
	margin: 1rem;
	padding: 2rem;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.12);
	box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 100%;
}

.album-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 12px 40px rgba(0, 0, 0, 0.35);
}

.album-card h1 {
	text-align: center;
	color: #5a3e4d;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}

.album-card img {
	width: 100%;
	max-width: 350px;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.album-card button {
	width: 100%;
	max-width: 200px;
	padding: 0.8rem 0;
	margin: 1rem auto 0;
	border: none;
	border-radius: 8px;
	background: rgba(51, 51, 51, 0.3);
	color: white;
	cursor: pointer;
}

.album-card button:hover {
	transform: translateY(-2px);
	background: #dba6c3;
	color: #333;
}

.album-card button.added {
	background: #a8e6cf;
	color: #333;
}
